/* 公共样式 */
body{
    background: #fff;
    font: 14px/1.5 'Futura LT Light','MicrosoftJhengHei','Microsoft YaHei', 'Microsoft YaHei UI', 'WenQuanYi Micro Hei', Arial, sans-serif,\5b8b\4f53;
    color: #666;
}
a{
    color: #333;
    transition: 0.3s;
    text-decoration: none;
}

/* 头、尾部共用 */
#header{
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    z-index: 10;
}
#header>iframe,
#footer>iframe {
    width: 100%;
    border: 0;
    height: 100px;
}
#footer>iframe{
    height: 330px;
}


/* 内容外框 */
section{
    min-width: 1200px;
}


/* 菜单按钮 */



/***********  index  ***********/
/* 服务客户标题 */
.customer_title{
    width: 300px;
    text-align: center;
    background: #fff;
    position: absolute;
    top: -65px;
    left: 50%;
    margin-left: -150px;

}
.title{
    font-size: 36px;
    font-weight: lighter;
}
.subtitle{
    font-size: 16px;
}
.tips{
    margin-top: 20px;
    color: #bbb;
}
#customer ul{
    width: 1200px;
    margin: 80px auto;
    border-top: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5;
}
#customer ul>li>a{
    display: block;
    width: 239px;
    height: 178px;
    background: url(../img/clients.jpg) no-repeat;
    filter: grayscale(100%);
    transition:transform 0.3s;
    transition-property: filter,transform,opacity;
    /* opacity: .5; */
    background-color: rgba(255, 255, 255, 100%);
}
#customer ul>li:nth-child(1)>a{
    background-position: -238px 0px;
}
#customer ul>li:nth-child(3)>a{
    background-position: -476px 0px;
}
#customer ul>li:nth-child(4)>a{
    background-position: -714px 0px;
}
#customer ul>li:nth-child(5)>a{
    background-position: -952px 0px;
}
#customer ul>li:nth-child(6)>a{
    background-position: -1190px 0px;
}
#customer ul>li:nth-child(7)>a{
    background-position: -1428px 0px;
}
#customer ul>li:nth-child(8)>a{
    background-position: -1666px 0px;
}
#customer ul>li:nth-child(9)>a{
    background-position: -1904px 0px;
}
#customer ul>li:nth-child(10)>a{
    background-position: -2142px 0px;
}
#customer ul>li:nth-child(11)>a{
    background-position: -2380px 0px;
}
#customer ul>li:nth-child(12)>a{
    background-position: -2618px 0px;
}
#customer ul>li:nth-child(13)>a{
    background-position: -2856px 0px;
}
#customer ul>li:nth-child(14)>a{
    background-position: -3094px 0px;
}
#customer ul>li:nth-child(15)>a{
    background-position: -3332px 0px;
}
#customer ul>li:nth-child(16)>a{
    background-position: -3570px 0px;
}
#customer ul>li:nth-child(17)>a{
    background-position: -3808px 0px;
}
#customer ul>li:nth-child(18)>a{
    background-position: -4046px 0px;
}
#customer ul>li:nth-child(19)>a{
    background-position: -4284px 0px;
}
#customer ul>li:nth-child(20)>a{
    background-position: -4522px 0px;
}
#customer ul>li>a:hover{
    filter: grayscale(0%);
    transform: scale(0.9,0.85);
    opacity: 1;
}
#customer ul>li{
    float: left;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    background-color: #eee;
}
#customer ul::after{
    content: "";
    display: block;
    clear: both;
}
/* 服务客户标题结束 */






/***********  markerting  ***********/